body{
    font-family:Georgia, 'Times New Roman', Times, serif;/*tipo de fonte*/
    background-color: rgba(170, 169, 169, 0.836);/*cor de fundo do corpo*/
}

header{
    background-color: rgb(230, 231, 231);
    padding: 10px;
    text-align: center;
}

h1{
    color:rgb(0, 2, 3);
}

article{
    background-color: rgb(253, 252, 252);
    padding: 80px;
}

